:root.theme-light {
  --background-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --title-decor-color: #353430;
  --text-color: #353430;
  --button-color: #353430;
  --button-hover: rgba(50, 49, 45, 0.4);
  --decor-color: #353430;
  --main-font: "IBM Plex Mono", monospace;
}

.theme-light .header__decorative-element {
  display: none;
}

.theme-light .header__theme-menu-button {
  border-color: var(--button-color);
  color: var(--button-color);
}

.theme-light .header__theme-menu-button:hover {
  border-color: var(--button-hover);
}

.theme-light .header__title {
  text-shadow: 4px 4px 0px #ff8dcb;
}

.theme-light .header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.theme-light .decorated-zone::before,
.theme-light .decorated-zone::after {
  border-color: var(--decor-color);
}

.theme-light .title-decor,
.theme-light .article__title,
.theme-light .article__title--special,
.theme-light .article__subtitle,
.theme-light .gallery__title {
  background-color: var(--accent-color);
  color: var(--text-color);
}

.theme-light .section__title,
.theme-light .article__text {
  color: var(--text-color);
}

.theme-light .text-link {
  text-shadow: 2px 2px 0px var(--accent-color);
}

.theme-light .footer__title {
  text-shadow: 4px 4px 0px var(--accent-color);
}
